html,
body {
  margin: 0;
  box-sizing: border-box;
}
#home {
  position: relative;
  width: 960px;
  height: 540px;
  margin: 0 auto;
  background-image: url(http://threebody.com/threebody/image/home_bg.png);
  background-size: contain;
  cursor: pointer;
  -webkit-animation: home 6s linear 0 forwards infinite;
}
#start {
  position: absolute;
  left: 396px;
  bottom: 100px;
  width: 168px;
  height: 84px;
  background-image: url(http://threebody.com/threebody/image/home_button_nor.png);
  background-size: contain;
}
#start.pressing {
  background-image: url(http://threebody.com/threebody/image/home_button_pre.png);
}
@-webkit-keyframes home {
  0% {
    opacity: 1;
  }
  20% {
    opacity: .9;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: .9;
  }
  100% {
    opacity: 1;
  }
}
#container {
  position: relative;
  width: 960px;
  height: 540px;
  margin: 0 auto;
  background-image: url(http://threebody.com/threebody/image/main_bg2.png);
  background-size: contain;
  cursor: pointer;
  opacity: 0;
  -webkit-user-select: none;
}
.star,
.planet {
  position: absolute;
}
#star1 {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/sun1.png);
  background-size: contain;
  -webkit-animation: star 6s linear 0 forwards infinite;
}
#star1-back {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/sun1_2.png);
  background-size: contain;
  -webkit-animation: star-back 6s linear 0 forwards infinite;
}
@-webkit-keyframes star {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
@-webkit-keyframes star-back {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#star2 {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/sun2.png);
  background-size: contain;
  -webkit-animation: star 8s linear 0 forwards infinite;
}
#star2-back {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/sun2_2.png);
  background-size: contain;
  -webkit-animation: star-back 8s linear 0 forwards infinite;
}
#star3 {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/sun3.png);
  background-size: contain;
  -webkit-animation: star 7s linear 0 forwards infinite;
}
#star3-back {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/sun3_2.png);
  background-size: contain;
  -webkit-animation: star-back 7s linear 0 forwards infinite;
}
#cutie {
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/planet@2x.png);
  background-size: cover;
  z-index: 100;
}
.shadow {
  position: absolute;
  z-index: 50;
  background-color: transparent;
  background-image: url(http://threebody.com/threebody/image/planet@2x.png);
  background-size: cover;
  opacity: 0.3;
}
.snapshot {
  position: absolute;
  width: 145px;
  height: 180px;
  background-image: url(http://threebody.com/threebody/image/venusmap_2.gif);
  background-size: cover;
}
.small-star {
  position: absolute;
  background-color: lightblue;
  box-shadow: 0 0 1px 2px white;
  -webkit-animation: flash 2s linear 0 infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: .5;
  }
  50% {
    opacity: .3;
  }
  100% {
    opacity: .5;
  }
}
#top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 56px;
  color: #6aa9ff;
  text-indent: 10px;
  font-size: 20px;
}
#popu-w {
  float: left;
}
#age-w {
  float: right;
  margin-right: 16px;
}
#count-w {
  float: left;
}
#top2 {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  height: 56px;
  color: #6aa9ff;
  text-indent: 10px;
  font-size: 20px;
}
#bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  color: #6aa9ff;
  text-indent: 10px;
  font-size: 20px;
  vertical-align: middle;
}
#ability {
  position: absolute;
  left: 180px;
  top: 8px;
  width: 187px;
  height: 39px;
  background-image: url(http://threebody.com/threebody/image/main_ability.png);
  background-size: cover;
}
#event {
  position: absolute;
  left: 367px;
  top: 8px;
  width: 575px;
  height: 39px;
  background-image: url(http://threebody.com/threebody/image/main_notice_bg.png);
  background-size: cover;
}
#eventMsg {
  width: 500px;
  margin-top: -8px;
}
#more {
  position: absolute;
  width: 80px;
  height: 56px;
  top: 0;
  right: 20px;
}
#ability-p {
  position: absolute;
  width: 896px;
  height: 371px;
  left: 32px;
  top: 90px;
  background-image: url(http://threebody.com/threebody/image/main_dialog_bg.png);
  background-size: cover;
  z-index: 200;
  display: none;
}
#globe {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 200px;
  height: 256px;
  background-image: url(http://threebody.com/threebody/image/green.gif);
  background-size: cover;
}
#ability-l {
  position: absolute;
  top: 90px;
  left: 270px;
  width: 340px;
  height: 200px;
}
.ability-item {
  position: absolute;
  width: 170px;
  height: 50px;
  color: #6aa9ff;
  margin-left: 20px;
}
.ability-item.pressing {
  color: white;
}
.ability-item em {
  margin-left: 20px;
}
#A {
  top: 10px;
  left: 10px;
}
#B {
  top: 60px;
  left: 10px;
}
#C {
  top: 110px;
  left: 10px;
}
#D {
  top: 10px;
  left: 180px;
}
#E {
  top: 60px;
  left: 180px;
}
#F {
  top: 110px;
  left: 180px;
}
span {
  display: inline-block;
  height: 56px;
  line-height: 56px;
}
em {
  display: inline-block;
  font-style: normal;
  color: lightblue;
}
#population {
  width: 200px;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background-image: url(http://threebody.com/threebody/image/close.png);
  background-size: cover;
  cursor: pointer;
}
#ability-detail {
  color: #6aa9ff;
}
#ability-name {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 240px;
  height: 32px;
}
#ability-d {
  position: absolute;
  top: 120px;
  right: 20px;
  width: 240px;
  height: 180px;
}
#ability-cnt {
  position: absolute;
  top: 250px;
  right: 20px;
  width: 240px;
  height: 30px;
  color: #eee;
}
#upgrade {
  position: absolute;
  top: 270px;
  right: 140px;
  width: 126px;
  height: 62px;
  background-image: url(http://threebody.com/threebody/image/dialog_button_nor.png);
  background-size: cover;
}
#upgrade.pressing {
  width: 126px;
  height: 62px;
  background-image: url(http://threebody.com/threebody/image/dialog_button_pre.png);
  background-size: cover;
}
#ending {
  position: absolute;
  top: 160px;
  right: 240px;
  width: 480px;
  height: 250px;
  background-image: url(http://threebody.com/threebody/image/dialog_restar_bg.png);
  background-size: cover;
  z-index: 300;
  display: none;
}
#restart {
  position: absolute;
  bottom: 20px;
  left: 180px;
  width: 126px;
  height: 62px;
  background-image: url(http://threebody.com/threebody/image/restar_button_nor.png);
  background-size: cover;
}
#restart.pressing {
  background-image: url(http://threebody.com/threebody/image/restar_button_pre.png);
}
#summary {
  position: absolute;
  left: 40px;
  top: 70px;
  width: 420px;
  height: 230px;
  color: #6aa9ff;
}
h2 {
  text-align: center;
  color: #6aa9ff;
}
#summary em {
  margin: 0 3px;
}
