body{
	font-family:\5FAE\8F6F\96C5\9ED1, /* 微软雅黑，默认特殊标题字体 */
                \9ED1\4F53, /* 黑体，win下替换字体 */
                \6587\6CC9\9A7F\6B63\9ED1\4F53, /* 文泉驿正黑体，unix/linux下替换字体 */
                \534E\6587\7EC6\9ED1; /* 华文细黑，mac os下替换字体 */
    font-weight:400; /* 默认为细体 */
    color: #555;
    background: #eee url(/images/bg_tile.jpg) top center;
    position: relative;
    z-index: 0;
}

h1{
	font-size: 18px;
	font-weight: bold;
}

h2{
	font-size: 16px;
}

h3{
	font-size: 14px;
}

h4{
	font-size: 12px;
}