.clear{
	zoom: 1;
}
.clear:after{
	display: block;
	clear: both;
	height: 0;
	content: "\0020";
}
body {
	background-color: white;
	background-image: url(/images/grid-18px-masked.png);
	background-repeat: repeat-x;
	background-position: 0 40px;
}
.motto{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	padding: 0 0 10px 30px;
	border-bottom: 2px solid #3D86C8;
}

.leftContent{
	width: 740px;
	float: left;
	margin-right: 10px;
}

.rightContent{
	width: 240px;
	float: left;
}

.splash{
	min-height: 800px;
	min-width: 960px;
}

.splash h1.title{
	font-size: 18px;
	margin-bottom: 20px;
}

.splash h2{
	font-size: 16px;
}

.splash .thumbnail h4{
	margin-bottom: 10px;
}
.splash .thumbnail p{
	margin-left: 5px;
}

.post h1{
	font-size: 18px;
}

.post h4{
	margin-bottom: 10px;
}

.post h5.date{
	font-weight: normal;
	margin-bottom: 15px;
	padding-left: 10px;
	font-size: 14px;
}

.post p{
	text-indent: 2em;
}

.aboucontainer{

}

.doubanbook,.doubanmusic,.aboutme{
	float: left;
}

.aboutme{
	margin-top:10px;
	width: 240px;
}

.aboutme h3{
	margin-bottom: 10px;
	
}

.aboutme p{
	text-indent: 2em;
}

.doubanbook,.doubanmusic{
	margin-right: 20px;
}

.doubanbook h3{
	margin: 10px 0;
}

.doubanbook td{
	padding: 10px;

